// COLORS
$color-primary: #FE5E41;

$color-secondary: #00A878;

$color-gray-light: #F2F2F2;

$color-gray-medium: #DEDEDE;
$color-gray-medium-2: #BDBDBD;

$color-gray-dark: #1E1E1E;

$color-gray-dark-2: #6E6E6E;

$color-black: #000;
$color-white: #fff;